header{
 display:block;
    margin:auto;
}
body{
    background-image:url(img/fondoToto.jpg);
    margin:0;
    background-size: cover;
}
 .container{
    font-family:"Garamond";
    font-size:26px;
    width: 75%;
    height:max-content;
    background:rgba(238, 215, 9, 0.459) ;
    border-radius: 20px;
    margin: auto;
} 
h1{
    text-align: center;
    font-size:60px;
    color:black;
    text-shadow:4px 2px 4.5px #cca872;
    -webkit-text-stroke:1px #cca872;
}
/* p{
    margin: 20px;
} */
.img-responsive{
    width: 100%;
    height: auto;
}
.btnFilmsInfo {
    display:flex;
    justify-content:center;
}
.btnIntro{
    display:flex;
    justify-content:center;
}
#bttnMoreInf, #backIntro{
    background-color: #cca872;
    border-radius: 10px;
    color: white;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 32px;
    font-family:" EB Garamond";
    cursor: pointer;
}

.cardContainer {
    width: 320px;
    display: inline-block;
    flex-direction: column;
    margin:2%;
    background: #5fcfad;
    /* justify-content: center;
    gap: 50px; 
    flex-wrap: wrap;
    margin-top: 30px; */
}
h2{
    text-align: center;
    font-size: 25px;
    color: #6a6a6a;
    margin-top: 5px;
    font-weight: 30;
    font-family: 'Roboto', sans-serif;
}
p1{
    text-align: center;
    font-size:15;
    color:black;

}
.poster{
    width: 250px;
}

/* #filmsInfo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
} */

/* .cards {
    width: 100%;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    background-image: url(https://img.lovepik.com/background/20211021/medium/lovepik-letter-paper-background-image_401297030.jpg);
} */

/* .cards > p:first-of-type {
    margin-top: 0;
}

.cards > p:last-of-type {
    margin-bottom: 0;
} */


/*     justify-content: space-between;
    align-items: center;
    color: #555555;
    background: #eeeeee;
    font-size: 0.8em;
    border-bottom: 2px solid #333333;
    border-right: 2px solid #333333;
    border-left: 2px solid #333333; */

/*     transform: rotate(-30deg);
    transition: all .3s; */

/* .cardContainer{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}
.cards{
    margin: 10px;
    width: 330px;
    height:330px;
    border-radius: 8px;
    border: 2px solid #eeeeee;
    box-shadow: 0 4px 4px rgb(28, 31, 29);
    text-align: center;
    transition: all 0.25s;
} */
/*.filmsTitle{
    
}*/

/* .poster{
    width: 200px;
} */

footer{
    display: flex;
    align-items:flex-end;
    justify-content: center;
    font: black;
    font-family: "EB Garamond";
    font-size: 20px;
    font-weight: 200;
}
/*.filmsIntro{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.cards{
    width: 330px;
    border-radius: 8px;
    box-shadow: 0 4px 4px rgb(28, 31, 29);
    overflow: hidden;
    margin: 20px ;
    text-align: center;
    transition: all 0.25s;
}



