header{
    display:block;
    margin:auto;
}
body{
    background-image:url(img/fondoToto.jpg);
    margin:0;
    background-size: cover;
}
.container{
    font-family:"Garamond";
    font-size:26px;
    width: 75%;
    height:max-content;
    background:rgba(238, 215, 9, 0.459) ;
    border-radius: 20px;
    margin: auto;
}
h1{
    text-align: center;
    font-size:60px;
    color:black;
    text-shadow:4px 2px 4.5px #cca872;
    -webkit-text-stroke:1px #cca872;
}
/* p{
    margin: 20px;
} */
.img-responsive{
    width: 100%;
    height: auto;
}
.btnFilmsInfo {
    display:flex;
    justify-content:center;
}
.btnIntro{
    display:flex;
    justify-content:center;
}
#bttnMoreInf, #backIntro{
    background-color: #cca872;
    border-radius: 10px;
    color: white;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 32px;
    font-family:" EB Garamond";
    cursor: pointer;
}

.cardContainer {
    width: 320px;
    height: 400px;
    margin: 35px;
    display: inline-block;
    /*flex-direction: column;
    gap: 50px;
    flex-wrap: wrap;
    margin-top: 30px; */
}
.cardInner{
    margin: 10px;
    width: 290px;
    height: 100%;
    background:pink;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 1px 2px 0 rgb(0, 0, 0);
    border-radius: 5px;
}
.cardContainer:hover .cardInner {
    transform: rotateY(180deg);
}

.cardFront, .cardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 5px;
}
.cardFront {
    background-color:rgba(102, 52, 45, 0.295);
    color: black;
}

.cardBack {
    background-color:pink;
    transform: rotateY(180deg);
    box-shadow:0 1px 2px 0 rgb(0, 0, 0);
}
.poster{
    width: 200px;
    border-radius: 3px;
    margin:10px;
}
.filmsTitle{
    font-size:20px;
	color: #000000c5;
    text-align: center;
    margin: 3px;
    font-weight: 30;
    font-family: 'Roboto', sans-serif;
}
.filmsYear{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}
.cardTextBack{
    text-align: center;
    font-size:15px;
    color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 20px;
}
footer{
    display: flex;
    align-items:flex-end;
    justify-content: center;
    font: black;
    font-family: "EB Garamond";
    font-size: 20px;
    font-weight: 200;
}



